# modify and change the file name to setup.env
# then run:
# $ source setup.env
export DATABASE_URL=""
export PACKAGEBUG_DB_TEST=""

# Amazon SQS
export PACKAGEBUG_SQS_ENDPOINT=""
export PACKAGEBUG_SQS_REGION=""
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

# github
export PACKAGEBUG_GITHUB_ROOT_ENDPOINT="https://api.github.com"
export PACKAGEBUG_GITHUB_CLIENT_ID=""
export PACKAGEBUG_GITHUB_CLIENT_SECRET=""

